.App {
  text-align: center;
}


th {
  padding-left: 50px;
  display: flex;
}

td {
  padding-left: 50px;
  padding-bottom: 70px;
}

h1, h2, h3, h4, h5 {
td {
  padding-left: 50px;
  padding-bottom: 70px;
}}

h1, h2, h3, h4, h5 {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* ----------- containers-------------------------------------------- */

.container-signin {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  height: 800px;
}

.container-signup {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  height: 800px;
}

.nav-container {
  background-color: rgba(0, 100, 177, 1);
  width: 100%;
  height: 100px;
}

.my-navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


/* ----------- containers-------------------------------------------- */

.container-signin {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  height: 800px;
}

.container-signup {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  height: 800px;
}

.nav-container {
  background-color: rgba(0, 100, 177, 1);
  width: 100%;
  height: 100px;
}

.my-navbar {
  /* position: fixed; */
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Adjust z-index as needed to ensure it appears above other content */
  background-color: rgb(138, 194, 243);
}
.nav-dropdown {
  color: black;
}

.container-body {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  /* background-color: rgba(0, 89, 203, 1); */
  width: 100%;
  height: 400px;
}

.half-width {
  width: 50%; /* Each component takes 50% of the screen width */
}

.container-footer {
  background-color: rgb(138, 194, 243);
  z-index: 1000; /* Adjust z-index as needed to ensure it appears above other content */
  background-color: rgb(138, 194, 243);
}
.nav-dropdown {
  color: black;
}

.container-body {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
  justify-content: space-between; /* Distribute items evenly along the main axis */
  /* background-color: rgba(0, 89, 203, 1); */
  width: 100%;
  height: 400px;
}

.half-width {
  width: 50%; /* Each component takes 50% of the screen width */
}

.container-footer {
  background-color: rgb(138, 194, 243);
  color: white;
}

.container-add-room {
  background-color: rgb(138, 194, 243);
  background-image: url('./images/image2.jpg');
  /* margin-top: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding-top: 20px;
  height: auto;
  width: 100%;
}

.form-add-room {
  /* background-color: rgb(138, 194, 243); */
  background-color: aliceblue;
  width: 50%;
  padding: 30px;
  margin: 20px;
}

.container-edit-room {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding-top: 20px;
  height: auto;
  width: 100%;
}

.container-edit-booking {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding-top: 20px;
  height: auto;
  width: 100%;
}

.container-view-rooms {
  background-color: rgb(100, 151, 228);
  /* background-image: url('./images/image2.jpg'); */
  height: 'auto';
  width: 100%;
	align-items: center;
	justify-content: center;
}

.container-view-bookings {
  background-color: rgb(100, 151, 228);
  /* background-image: url('./images/image2.jpg'); */
  height: auto;
  width: 100%;
	align-items: center;
	justify-content: center;
}

.container-rooms {
  margin-top: -300px;
}

.container-filter {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: -200px; */
  /* height: 800px; */
}

.container-services {
  /* background-color: rgb(100, 151, 228); */
  height: auto;
  width: 100%;
  /* display: flex; */
	align-items: center;
	justify-content: center;
}

.container-heroes {
  width: 100%;
  height: 440px;
  background-color: aliceblue;
  max-width: 500px; /* Adjust the maximum width as needed */
  /* margin: 0 auto; */
  margin-top: 40px;
}

.container-about_us {
  background-color: aliceblue;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container-info {
  background-color: rgb(138, 194, 243);
  height: 1000px;
  width: 100%;
	align-items: center;
	justify-content: center;
}

.container-book, container-edit-room {
  background-color: rgb(138, 194, 243);
  margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  padding-top: 20px;
  height: auto;
  width: 100%;
}

/* -------------Images & icons-------------------------------------------- */
.logo-image{
  width: 100px;
  height: auto;
  border-radius: 10%;
  background-color: rgba(0, 89, 203, 1);
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.home-icon {
  padding-left: 40px;
  width: 50px;
  height: auto;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.logout-icon {
  width: 30px;
  height: 30px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
  padding-left: 12%;
}

.img-home {
  width: 100%;
  height: 800px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.img-about {
  margin-top: 50px;
  width: 80%;
  height: 300px;
  padding-left: 10%;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.img-heroes {
  padding: 20px;
  width: 30%;
  height: 400px;
  border-radius: 40px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
  border: 2px solid rgba(200, 206, 206, 0.747);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.img-rooms {
  padding: 20px;
  width: 100%;
  height: 400px;
  border-radius: 40px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.img-new-room {
  padding: 20px;
  width: 500px;
  height: 300px;
  border-radius: 40px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.img-offer {
  padding: 20px;
  width: 400px;
  height: 200px;
  border-radius: 30px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg); 
}

.img-edit-room {
  width: 700px;
  height: 500px;
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

.img-book-form {
  margin: 20px;
  width: 100%;
  height: 400px;
  /* padding-left: 10%; */
  background-color: transparent;
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
  transform: rotate(360deg);
}

/* ------------ buttons or links  ---------------------------------------------*/
.btn-1 {
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.btn-2 {
  width: 40px;
  height: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;
}

.btn-signin {
  background-color: rgb(29, 26, 161);
  border-radius: 20px;
  height: 45px;
  width: 20%;
  color: aliceblue;
  margin-top: 30px;
}

.btn-3 {
  background-color: rgba(81, 97, 109, 1);
  border-radius: 20px;
  height: 40px;
  width: 20%;
  color: aliceblue;
}

.btn-add-room {
  background-color: #11ce95;
  border-radius: 10px;
  height: 40px;
  width: 30%;
}

.btn-about-us {
  background-color: rgba(81, 97, 109, 1);
  margin-bottom: 30px;
  height: 35px;
  width: 50%;
  color: aliceblue;
  border: 2px solid rgba(200, 206, 206, 0.747);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.link-signup {
  color: black;
  font-style: italic;
}

.nav-items {
  padding-left: 5%; 
  color: black;
}

.return-back-link {
  padding-right: 40%; 
  color: navy;
  text-align: left;
  justify-content: left;
}

.btn-edit {
  width: 60%;
  height: auto;
  background-color: #43A5BE;
  margin-left: 65px;
  margin-bottom: 20px;
}

.btn-delete {
  width: 60%;
  height: auto;
  background-color: #253342;
  color: aliceblue;
  margin-left: 65px;
  margin-bottom: 20px;
}

.btn-view-rooms {
  width: 30%;
  height: auto;
  background-color: #253342;
  color: aliceblue; 
}

.btn-filtered-rooms {
  width: 50px;
  height: 30px;
  background-color: #253342;
  color: aliceblue; 
}

.btn-save {
  width: 100%;
  height: auto;
  background-color: #53BDA5;
}

.btn-check-room {
  width: 40%;
  height: auto;
  color: white;
  margin: 5px;
  margin: 25px;
  background-color: #253342;
}

.btn-book-room {
  width: 40%;
  height: 40px;
  background-color: #11ce95;
  border-radius: 10px;
  color: aliceblue;
}

.btn-update-room{
  width: 200px;
  height: 40px;
  background-color: #11ce95;
  border-radius: 10px;
  color: aliceblue;
}

.btn-search {
  width: 40px;
  height: 32px;
  border: 0px;
  background-color: #253342;
  color: aliceblue; 
}

/* -----------inputs----------------------------------------------------- */
.input-login {
  width: 25%;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-signup {
  width: 40%;
  height: 40px;
  align-items: center;
  justify-content: center;
}

.input-add-room {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input-edit-room {
  width: 500px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.select-add-room {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.select-book-room {
  width: 90%;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input-information {
  width: 70%;
  height: 200px;
  border: 2px solid;
  align-items: center;
  justify-content: center;
}

.input1-book-room{
  width: 140px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input2-book-room {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input3-book-room {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input-check-room {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.input-book-requests {
  width: 90%;
  height: 100px;
  border: 2px solid;
  align-items: center;
  justify-content: center;
}

.input-search {
  width: 200px;
  height: 30px;
  border: 0px;
}

/* -------------tables---------------------------------------------------- */
.table-view-rooms {
  background-color: rgb(100, 151, 228);
  width: 100%;
  height: auto;
  border-color: black;
  border-width: 2px;
  /* border-bottom-width: 1px; */
}

.table-view-bookings {
  background-color: rgb(100, 151, 228);
  width: 100%;
  height: auto;
}

.table-services {
  width: 100%;
}

/* --------------------------Maps----------------------------------------------------- */
.map-style {
  height: 100%;
  width: 100%;
  zoom: 80%;
  position:relative;
  text-align:right;
}

.map-frame {
  width: 100%;
  height: 100%;
}

.gmap_canvas {
  overflow:hidden;
  height:400px;
  width:100%;
  border: 0px; 
  scroll-behavior: auto; 
}

/* ------------------- more----------------------------------------------- */

.p-about-us {
  text-align: center;
  font-weight: 500;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.card-room-view {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-room-filter {
  margin: 30px;
}

.card-special-view {
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-carousel-item {
  height: 600px;
  position: relative;
}


.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  color: #fff;
}

.carousel-text h2 {
  font-size: 2rem;
  margin: 0;
}

.carousel-text p {
  font-size: 1rem;
  margin: 0;
}
